body {
	background: #04A1BF;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.container{
    position: relative;
    top: 80px;
}
#enter {
	border: none;
	padding: 5px 15px;
	border-radius: 5px;
	color: #04A1BF;
	background-color: #025F70;
	font-weight: normal;
    position: relative;
    left: 3%;
    top: 2px;
    height: 35px;
}

#enter:hover{
	background-color: #02798F;
	color: #FFCD5D;
}
ul {
	text-align: left;
	margin-top: 20px;
}


li {
	list-style: none;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #4EB9CD;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

li:hover {
	background: #76CFE0;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}

input {
	border-radius: 5px;
	min-width: 30%;
	padding: 5px;
	border: none;
    position: relative;
    left: 3%;
    height: 25px;
}


.done {
	background: #51DF70 !important;
	color: #00891E;
}

.delete {
	display: none;
}